<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Quiz Grecia Antigua</title>
	<link rel="stylesheet" href="/css/globales.css">
</head>

<body>
		<h4>Pregunta 4: &lt;¿Quién escribió La Iliada?&gt;</h4>
		<div id="divImg">
			<image alt="anfora iliada" src="/images/p4.png">
			<figcaption>Aquiles y Ajax juegan a los dados. Ánfora griega, 540 a.C.</figcaption> 
		</div>
		<form th:action="@{/question4}" method="post">
			<label for="idQ4">Selecciona la respuesta</label>
			<select name="q4" id="idQ4" required>
				<option value="-">-</option>
				<option value="Virgilio">Virgilio</option>
				<option value="Homero">Homero</option>
				<option value="Platon">Platon</option>
				<option value="Democrito">Democrito</option>
			</select>
			<br><br><input type="submit" value="Confirmar" />
		</form>
		<footer></footer>
</html>